<!-- Display for solarSim -->

<!DOCTYPE html>
<html>
<head>
	<script src="../../static/solarSim/D3.js" type="text/javascript"> </script>
	<script type="text/javascript" src="../../static/solarSim/viz.js"></script>
	<title>Solar Simulation</title>
</head>
<body>
	<p>
		Name is {{ planet.name }} <!-- I want this to get passed the planet object not the id, right now it get the id-->
		<br>
		Mass is {{ planet.mass }}
		<br>
		X is {{ planet.x }}
		<br>
		Y is {{ planet.y }}
		<br>
		Z is {{ planet.z }}
		<br>
	</p>
	<script type="text/javascript">
		plot();
	</script>
</body>
</html>